@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #3D4043;
}

#container{
    width: 960px;
    margin: auto;
    display: grid;
    /* columnas */
    /* grid-template-columns: 200px; /* 1 columna */
    /* grid-template-columns: 200px 300px; /* 2 columnas */
    /* grid-template-columns: 200px 300px 460px; /* 3 columnas */
    grid-template-columns: 60% 40%; /* 2 columnas */

    /* filas */
    /* grid-template-rows: 90px; */
    grid-template-rows: 90px 120px;
}

    #container article{
        background-color: #f88235;
        padding: 8px;
        border: 1px solid #d6d6d6;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: .5s;
    }
    #container article:hover{
        background-color: #fb9358;
    }