@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* globales */
body{
    font-family: Barlow, sans-serif;
    font-weight: 300;
    color: #3c3c3c;
    background-color: #3D4043;
    max-width: 1024px;
    margin: auto;
}
a{
    text-decoration: none;
}
/* header */
header{
    background-color: #E29086;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    header a{
        color: #fff;
        font-weight: 600;
    }
    /* logo */
    #logo{
        font-size: 24px;
    }
        #logo img{
            vertical-align: middle;
            margin: 0px 12px;
        }

    /* navegación */
    header nav a{
        font-size: 20px;
        padding: 10px;
    }
    /* hamburger */
    #hamburger{
        display: none;
        /*  ocultamos la imagen */
    }

/* main */
main{
    width: 1024px;
    margin: auto;
}
/* hero-banner */
#hero-banner{
    height: 800px;
    background-image: url(../imgs/hero-banner.png);
    background-repeat: no-repeat;
    background-position: -280px 0px;
    background-color: #d5737e;

    display: flex;
    align-items: center;
    justify-content: right;
}
    #hero-banner div{
        width: 216px;
        margin-right: 60px;
        text-align: center;
    }
        #hero-banner h1{
            font-size: 32px;
            color: #fff;
        }
        #hero-banner div a{
            color: #fff;
            font-size: 24px;
            border: 1px solid #fff;
            border-radius: 16px;
            padding: 12px 44px;
            display: inline-block;
            margin-top: 32px;
            transition: 500ms;
        }
        #hero-banner div a:hover {
            background-color: #fff;
            color: #D5737E;
        }
/* sección servicios */
#servicios{
    height: 288px;
    background-color: #fff;
    color: #3c3c3c;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    #servicios article{
        width: 384px;
        display: flex;
        align-items: center;
    }
        #servicios article img{
            width: 128px;
            height: 128px;
            margin-right: 16px;
        }

/*######### media queries ########*/
/*### mobile | tablet sm ###*/
@media screen and ( max-width: 768px ){

    header{
        display: block; /* sobreescribe el display flex */
    }
        #logo img{
            margin: 8px 12px;
        }

        header nav{
            background-color: #E29086;
            transform: translateY( calc(-220px - 80px) );
            transition: .5s;
        }        
        header nav a{
            display: block;
            text-align: center;
            transition: .5s;
        }
        header nav a:hover{
            background-color: #e08276;
        }
        /* hamburger */
        #hamburger{
            display: block;
            position: absolute;
            top: 24px;
            right: 12px;
            filter: invert();
            cursor: pointer;
        }
    .show-menu{
        transform: translateY(0px);
    }

    /* main */
    main{
        width: 768px;
    }
    /* hero-banner */
    #hero-banner{
        height: 1002px;
        justify-content: center;
        align-items: end;
        background-position: -204px 0;
    }
        #hero-banner div{
            margin-right: 0px;
            width: 100%;
            margin-bottom: 32px;
        }
    /* sección servicios */
    #servicios article{
        width: 312px;
    }
    #servicios article img{
        width: 64px;
        height: 64px;
    }
}